<main class="main_session">
    <div class="login_box">
        <h1 class="title_login">Forgot your password?</h1>
        <form id="forgotPasswordForm" action="/api/recover/forgot-password" method="POST" class="form_session">
            <div class="section_box">
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <button type="submit">Send reset link</button>
        </form>
        <p class="message" id="message"></p>
    </div>
</main>
<script src="/static/js/forgot-password.js"></script>