<main class="main_session">
    <div class="login_box">
        <h1 class="title_login">Reset Password</h1>
        <form id="resetPasswordForm" class="form_session">
            <input type="hidden" name="token" value="{{token}}">
            <div class="section_box">
                <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password" required>
            </div>
            <button type="submit">Reset Password</button>
            <p class="message" id="message"></p>
        </form>
    </div>
</main>
<script src="/static/js/reset-password.js"></script>